Syntax

In [ ]:
class World:
    def human(self):
        print("HELLO WORLD")

    def calculation(self, x, y):
        z = (x + y) * 10
        print(z)

# Create an instance of the World class
life = World()

# Call methods on the same instance multiple times
life.human()  # Prints "HELLO WORLD"
life.calculation(3, 3)  # Prints 60

HELLO WORLD
60

In [ ]:
class world:
    def human(self):
        print("HELLO WORLD")
    def calculation(self,x,y):
        z=(x+y)*10
        print(z)



life = world()

life.human()
life.calculation(3,3)

HELLO WORLD
60

In [ ]:
class Vehicle:
    def __init__(self, model, brand):
        self.model = model
        self.brand = brand

    def myfunc(self):
        print("MOVES")

class Car(Vehicle):
    pass

class Boat(Vehicle):
    pass

class Plane(Vehicle):
    def way(self):  # Added 'self' parameter
        print("AIR")

# Create instances of each class
car = Car("NISSAN", "GTR")
boat = Boat("BAYLINER", "M15")
pl = Plane("EMIRATES", "A300")

# Iterate over the instances and call their methods
for i in (car, boat, pl):
    print(i.model, i.brand)
    i.myfunc()

# Create an instance of Plane and call the way method
root = Plane("BOEING", "747")
root.way()

In [ ]:
class vehicle:
    def __init__(self,model,brand):
        self.model=model
        self.brand=brand
    def myfunc(this):
        print("MOVES")

class car(vehicle):
    pass

class boat(vehicle):
    pass

class plane(vehicle):
    def way(self):
        print("AIR")

car = car("NISSAN","GTR")
boat = boat("BAYLINER","M15")
pl = plane("EMIRATES","A300")

for i in (car,boat,pl):
    print(i.model,i.brand)
    i.myfunc()

root = plane("EMIRATES","A300")
root.way()

NISSAN GTR
MOVES
BAYLINER M15
MOVES
EMIRATES A300
MOVES
AIR

In [ ]:
class Vehicle:
    def __init__(self, model, brand):
        self.model = model
        self.brand = brand

    def myfunc(self):
        print("MOVES")

class Car(Vehicle):
    pass

class Boat(Vehicle):
    pass

class Plane(Vehicle):
    def way(self):  # Added 'self' parameter
        print("AIR")

# Create instances of each class
car = Car("NISSAN", "GTR")
boat = Boat("BAYLINER", "M15")
pl = Plane("EMIRATES", "A300")

# Iterate over the instances and call their methods
for i in (car, boat, pl):
    print(i.model, i.brand)
    i.myfunc()

# Create an instance of Plane and call the way method
root = Plane("BOEING", "747")
root.way()

In [ ]:
class vechile():
    #def __init__(self,brand,model):
        #self.brand=brand
      #/  self.model=model

    def myfunc(this):
        print("Nexa")

class boat(vechile):
    def gt(self):
        print("ride")
class bike(vechile):
    def hu(self):
        print("ride")
class plane(vechile):
    def move(this):
        print("fly")

cbe=plane()
cbe.myfunc()
cbe=bike()
cbe.hu()
cbe=boat()
cbe.gt()

Nexa
ride
ride

Python Indentation

In [ ]:
# Option 1: Provide two arguments to the calculation function



# Option 2: Modify the function definition to take only one argument

class world:
    def human(self):
        print("HELLO WORLD")

    def calculation(self, value):
        z = (value + 10) * 10

life = world()

life.human()
life.calculation(3)

HELLO WORLD

In [ ]:
class world:
    def human(self):
        print("HELLO WORLD")

    def calculation(self, value):
        z = (value + 10) * 10

life = world()

life.human()
life.calculation(3)

HELLO WORLD

In [ ]:
if 4 > 2:
print("Four is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-4-d7c44c1430a1>, line 2)

In [ ]:
a="my name"
print(a[2:4])

 n

In [ ]:
if 60 > 90:
 print(" 60 is smaller than 20!")

In [ ]:
if 5 > 2:#if conditional statement
 print("Five is greater than two!")
 print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

python comments

In [ ]:
#This is a comment.

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Datatypes

numeric -

1.int
2.float
3.complex

In [ ]:
x = 30

x = 70.5

x = 5j


apple : this a fruit
dictionary

In [ ]:
x = {"name" : "priya", "age" : 1}
print(x)

{'name': 'priya', 'age': 1}

Boolean

In [ ]:
x = True

Set

In [ ]:
x = {"computer", "science", "engineering"}
print(type(x))

<class 'set'>

Sequence type

1.list
2.tuple
3.string

In [ ]:
x = ["apple", "banana", "cherry"] #list #mutable

x = ("apple", "banana", "cherry")#tuple #immutable

x = "Hello World" #string

Python Variables

In [ ]:
x = 10
y = "Hello, World!"

Variable

Illegal variable names:

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (<ipython-input-4-0e82719f22b4>, line 1)

legal variable names:

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
x = "John"
# is the same as
X = 'roger'
print(x)

John

Case Sensitive

In [ ]:
a = 4
A = "Sally"
print(A)
#A will not overwrite a

Sally

Camel Case,Pascal Case,Snake Case

In [ ]:
myVariableName = "John"

MyVariableName = "John"

my_variable_name = "John"

Multiple Variables

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
s = int('string')
print(s)

ValueError: invalid literal for int() with base 10: 'string'

In [ ]:
x = 5
y = "John"
print(x, y)

Global Variable

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

get the type

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x=str(10)
print(type(x))

arr[8] = [m , h ,j ,k ,l ,d,s,a,]
              0,1....

Strings

Strings are Arrays

h-0

e-1

l-2...

In [ ]:
a = "Hello, World!"
print(a[4])

o

In [ ]:
a=["m","n"]
print(a[1])

n

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
a ="Hello, World!"
print(len(a))

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)#checking

True

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)#checking not

True

Slicing

In [ ]:
a="hello world!"
print(a[2:8])

llo wo

In [ ]:
b = " Hello, World!"
print(b[1:5])

Hell

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
a = " Hello,  World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [ ]:
a = "Hello"
b = "World"
c = a+b
print(c)

Hello World

In [ ]:
a = "Hello"
b = "World"
c = a + " " +b
print(c)

HelloWorld

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
quantity = 567
itemno = 567
price = 3
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 567 pieces of item 567 for 3 dollars.

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

conditional statement

1. if

2. elif

3. else

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a=int(input("enter a value:"))
print(a)
print(type(a))

enter a value:1
1
<class 'int'>

In [ ]:

a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

looping statements

1. for - for i in string

2. while

In [ ]:
for x in "helloworld":
  print(x)

h
e
l
l
o
w
o
r
l
d

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for i in "string":
  print(i)

s
t
r
i
n
g

In [ ]:
for i in "gateway": #looping through a string
  print(i)

g
a
t
e
w
a
y

x =[1,2,3]
for i in x:
  print(i)

In [ ]:
a=[1,2,3]
for i in a:
  print(i)

1
2
3

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
a= {"name":"priya"}
for i in a:
  print(i)

name

In [ ]:
a = {"name": "priya"}
for key, value in a.items():
    print(f"{key}: {value}")

name: priya

1
2
3

In [ ]:
a=30
b=40
if b>a:
  print("b is greater than a")
else:
  print("a is greater than b")

b is greater than a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x=="banana":
    continue
  print(x)

apple
cherry

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

In [ ]:
a="name"
for x in a:
  if x=="m":
    break
  print(x)

n
a

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
x=("sachin","mohan","karthi")
for i in x:
  if i=="mohan":
    break
  print(i)

sachin

In [ ]:
for x in range(1<10):
  print("passs")

passs

In [ ]:
x = [1, 2]
y = [4, 5]

for i in x:
  for j in y:
    print(i, j)

1 4
1 5
2 4
2 5

In [ ]:
i=0
while i < 6:
  print(i)
  i += 1          # i = i + 1

0
1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

functions

Creating a Function

In [ ]:
def myfunc (a,b): #DEF - MEANINING DEFINING A FUNCTION
    c=a+b
    print(c)

myfunc(10,20)

30

In [ ]:
def my_function():
  print("Hello from a function")

#my_function()

In [ ]:
def function(name):
  print("my name is priya")

calling A function

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def function(a,b):# a,b - parameters

  c=a+b
  print(c)

function(20,30) #10,20 - arguments

50

In [ ]:
def function(x):
    return square(one(double(x)))

def double(y):
    return y * 2

def one(z):
    return z + 1

def square(w):
    return w ** 2

output = function(6)
print(output)

Arguments

In [ ]:
def my_function(fname):
  print(fname + "jain")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emiljain
Tobiasjain
Linusjain

arg*

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

Arbitrary Keyword Arguments, **kwargs

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "jain")

His last name is jain

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage:
result = factorial(5)
print("Factorial of 5:", result)

Factorial of 5: 120

In [ ]:
x = lambda a: a + 10
print(x(10))

In [ ]:
x = lambda a, b, c : a + b + c
print(x(12, 63, 42))

object oriented programming langauge

1.class

2.object

3.abstract

4.encapsulation

5.inheritance

6.polymorphism

In [ ]:
#creating class - object constructor
class MyClass:
  x = "my_class"

In [ ]:
#creating object - instance of a class
class Name:
  x = "my_class"

p1 = Name()
print(p1.x)

my_class

In [ ]:
#creating a class and object and __init__()
class Student:
  def __init__(self, regnum, dept):  #__init__() object initailize #reference key - self , this
    self.regnum = regnum
    self.dept = dept

s1 = Student(62,"cse")

print(s1.regnum,s1.dept)

62 cse

In [ ]:
class vehicle: #parent class/base class
  def __init__(self,brand,model):#self
    self.brand=brand
    self.model=model
  def myfunc(this): #this / self - reference key
    print("move")

class car(vehicle): #inherit class car - child/derived class
  pass

class boat(vehicle):
 pass

class plane(vehicle):
  def m(this):
    print("fly")

# car , boat , plane - class: object constructor ; c, b, p -object
c=car("b","m")
b=boat("m","b")
p=plane("p","m")

for x in (c,b,p):
  print(x.brand,x.model)
  x.myfunc()

b m
move
m b
move
p m
move

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1,boat1,plane1):
  x.move()

Drive!
Sail!
Fly!

python error and exceptions

In [ ]:
try:
  a="string"
  b=int(a)
  print(b)
except:
  print("exception caught!")

else:
  print("no error")

finally:
  print("no error in the above coding")

exception caught!
no error in the above coding

In [ ]:
try:
  a="string"
  b=int(a)

except:
  print("exception caught!")

else:
  print("no error")

finally:
  print("no error in the above coding")

exception caught!
no error in the above coding

In [ ]:
try:
  a=5
  b=0
  c=a/b
except ZeroDivisionError:
  print("Division by  zero is not possible")

Division by  zero is not possible

FILE HANDLING

In [ ]:
#file_object = open(file_name[access_mode],[buffering])
#module -collections of scripts
#os - operating system
import os  #---->os module import
os.getcwd() # give current working directory
print(os.getcwd())

/content

reading and writing file

1.read()
2.readline()
3.readlines()
4.write()
5.see

In [ ]:
a=200
b=60.9
c={"name":"priya"}
d={"c","f","g","k"}
s=[1,3,5,8]
r=(1,3,5)
t="string"





REGULAR EXPRESSION

used to find patterns

1.given a string , then find it matches the pattern
2.given a pattern , finds out it occurs in a given string
can also  beu sed to modify the strings

In [ ]:
import re

re.match()

In [ ]:
pattern = r"hello"
string = "hello world"
match = re.match(pattern, string)
if match:
    print("Match found:", match.group())
else:
    print("No match")

Match found: hello

re.search()

In [ ]:
pattern = r"world"
string = "hello world"
match = re.search(pattern, string)
if match:
    print("Match found:", match.group())
else:
    print("No match")

Match found: world

re.findall()

In [ ]:
pattern = r"\d+"  # One or more digits
string = "There are 123 apples and 45 bananas."
matches = re.findall(pattern, string)
print("Matches found:", matches)

Matches found: ['123', '45']

re.sub()

In [ ]:
pattern = r"\d+"
replacement = "#"
string = "There are 123 apples and 45 bananas."
result = re.sub(pattern, replacement, string)
print("Replaced string:", result)

Replaced string: There are # apples and # bananas.

Common Patterns


.: Any character except newline


\d: Any digit


\D: Any non-digit


\w: Any word character (alphanumeric + underscore)


\W: Any non-word character


\s: Any whitespace character


\S: Any non-whitespace character


*: Zero or more repetitions


+: One or more repetitions


?: Zero or one repetition


{n}: Exactly n repetitions


{n,}: n or more repetitions



{n,m}: Between n and m repetitions


^: Start of the string




$: End of the string


[]: Set of characters


|: OR operator


(): Grouping

In [ ]:

pattern = r"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
string = "Contact us at support@example.com or sales@example.com."
matches = re.findall(pattern, string)
print("Email addresses found:", matches)

Email addresses found: ['support@example.com', 'sales@example.com']

In [ ]:
pattern = "\(\d{3}\) \d{3}-\d{4}"
string = "My phone number is (123) 456-7890."
match = re.search(pattern, string)
if match:
    print("Valid phone number:", match.group())
else:
    print("Invalid phone number")

Valid phone number: (123) 456-7890

In [ ]:
pattern = r"\W+"
string = "Hello, world! How are you?"
result = re.split(pattern, string)
print("Split string:", result)

Split string: ['Hello', 'world', 'How', 'are', 'you', '']

match(pat, str) - it checks str starts with pattern

if pat is found in str , it returns a match obj


search(pat,str) -  it checks the occurence of the pattern inthe string

pattern may be anywhere in the string , if pattern is found in str , it return match obj


findall(pat, str) -- it checks all the instance of pattern pat in the string

In [ ]:
import re

pat ='cat'
t1 = ('cats','ca', 'cat')
for s in t1:
  mobj = re.match(pat,s)
  print("\'cat\' in",s,"-->", bool(mobj))

'cat' in cats --> True
'cat' in ca --> False
'cat' in cat --> True

In [ ]:
import re
mystr = 'the cat is in the tree'
mypat = 'cat'
mymatch = re.search(mypat,mystr)
if mymatch:
  print(mypat,'found in',mystr)
else:
  print(mypat,'not found in',mystr)

cat found in the cat is in the tree

In [ ]:
import re
mystr = 'the cat is in the tree'
mypat = 'cat'
mymatch = re.search(mypat,mystr)
if mymatch:  # Check if a match object exists
  print(mypat,'found in',mystr)
else:
  print(mypat,'not found in',mystr)

cat found in the cat is in the tree